/Beta/Controls/__pycache__/
/Beta/.venv/
/Beta/__pycache/
/Beta/.DS_Store
/Beta/Controls/.DS_Store
/Beta/Synnax/.DS_Store

/V1/.DS_Store
/V1/BaseStation/.venv/
/V1/BaseStation/.DS_Store
/V1/BaseStation/.vscode/
/V1/BaseStation/__pycache__/
/V1/Synnax/.DS_Store
/V1/Synnax/__pycache__/
/V1/ESP32/.DS_Store
/V1/ESP32/BaseESP/.DS_Store
/V1/ESP32/relay_board_seqlog/.DS_Store
/V1/ESP32/SensorESP/.DS_Store